xgboost
lightgbm
tensorflow
tensorflow-transform
tensorflow-data-validation
tensorflow-model-analysis
tensorflow-gpu
tensorflow-serving-api
tensorflow-probability
tensorflow-datasets
tensorflow-ranking
keras
fasttext
spacy
gensim
scikit-learn
scikit-image
statsmodels
scrapy
scrapy-redis
scipy
pandas
numpy
h5py
kylinpy
presto-python-client
pyhive
parquet
happybase
kafka-python
confluent-kafka[avro]
redis
mongoengine
mysql-connector-python
sqlalchemy
sqlalchemy-clickhouse
pydruid[async, pandas,sqlalchemy]
python-dateutil
python-snappy
protobuf
google-api-python-client
facebook_business
googleads
googlemaps
cryptography
requests