profiler.job.executor.memory.min = "{{profiler_job_executor_memory_min}}"
profiler.job.executor.memory.max = "{{profiler_job_executor_memory_max}}"
profiler.job.executor.cores.min = "{{profiler_job_executor_cores_min}}"
profiler.job.executor.cores.max = "{{profiler_job_executor_cores_max}}"
profiler.job.executor.count.min = "{{profiler_job_executor_count_min}}"
profiler.job.executor.count.max = "{{profiler_job_executor_count_max}}"
profiler.job.driver.cores.min = "{{profiler_job_driver_cores_min}}"
profiler.job.driver.cores.max = "{{profiler_job_driver_cores_max}}"
profiler.job.driver.memory.min = "{{profiler_job_driver_memory_min}}"
profiler.job.driver.memory.max = "{{profiler_job_driver_memory_max}}"
scheduler.config.cron.frequency.check.enabled = {{scheduler_config_cron_frequency_check_enabled | lower}}