livy.session.lifetime.minutes = "{{livy_session_lifetime_minutes}}"
livy.session.lifetime.requests = "{{livy_session_lifetime_requests}}"
livy.session.max.errors = "{{livy_session_max_errors}}"

livy.session.config.read.name = "{{livy_session_config_read_name}}"
livy.session.config.read.queue = "{{livy_session_config_read_queue}}"
livy.session.config.read.driverMemory = "{{livy_session_config_read_driverMemory}}"
livy.session.config.read.driverCores = "{{livy_session_config_read_driverCores}}"
livy.session.config.read.executorMemory = "{{livy_session_config_read_executorMemory}}"
livy.session.config.read.executorCores = "{{livy_session_config_read_executorCores}}"
livy.session.config.read.numExecutors = "{{livy_session_config_read_numExecutors}}"
livy.session.config.read.heartbeatTimeoutInSecond = "{{livy_session_config_read_heartbeatTimeoutInSecond}}"
livy.session.config.read.timeoutInSeconds = "{{livy_session_config_read_timeoutInSeconds}}"

livy.session.config.write.name = "{{livy_session_config_write_name}}"
livy.session.config.write.queue = "{{livy_session_config_write_queue}}"
livy.session.config.write.driverMemory = "{{livy_session_config_write_driverMemory}}"
livy.session.config.write.driverCores = "{{livy_session_config_write_driverCores}}"
livy.session.config.write.executorMemory = "{{livy_session_config_write_executorMemory}}"
livy.session.config.write.executorCores = "{{livy_session_config_write_executorCores}}"
livy.session.config.write.numExecutors = "{{livy_session_config_write_numExecutors}}"
livy.session.config.write.heartbeatTimeoutInSecond = "{{livy_session_config_write_heartbeatTimeoutInSecond}}"
livy.session.config.write.timeoutInSeconds = "{{livy_session_config_write_timeoutInSeconds}}"