[libdefaults]
  renew_lifetime = 7d
  forwardable = true
  default_realm = {{realm}}
  ticket_lifetime = 24h
  dns_lookup_realm = false
  dns_lookup_kdc = false
  rdns = false
  allow_weak_crypto = true

  default_ccache_name = /tmp/krb5cc_%{uid}
{% if domains %}
[domain_realm]
{%- for domain in domains.split(',') %}
  {{domain|trim()}} = {{realm}}
{%- endfor %}
{% endif %}
[logging]
  default = FILE:/var/log/krb5kdc.log
  admin_server = FILE:/var/log/kadmind.log
  kdc = FILE:/var/log/krb5kdc.log

[realms]
  {{realm}} = {
{%- if kdc_hosts > 0 -%}
{%- set kdc_host_list = kdc_hosts.split(',')  -%}
{%- if kdc_host_list and kdc_host_list|length > 0 %}
    admin_server = {{admin_server_host|default(kdc_host_list[0]|trim(), True)}}
{%- if kdc_host_list -%}
{% for kdc_host in kdc_host_list %}
    kdc = {{kdc_host|trim()}}
{%- endfor -%}
{% endif %}
{%- endif %}
{%- endif %}
    {%- for domain in domains.split(',') %}
    default_domain = {{domain|trim()}}
    {%- endfor %}
    database_module = openldap_ldapconf
    supported_enctypes = aes128-cts:normal des3-hmac-sha1:normal arcfour-hmac:normal des-hmac-sha1:normal des-cbc-md5:normal des-cbc-crc:normal
  }

[dbdefaults]
  ldap_kerberos_container_dn = {{ldap_kerberos_container_dn}}

[dbmodules]
  openldap_ldapconf = {
    db_library = kldap
    ldap_servers = {{ldap_hosts}}
    ldap_kerberos_container_dn = {{ldap_kerberos_container_dn}}
    ldap_kdc_dn = {{ldap_kdc_dn}}
    ldap_kadmind_dn = {{ldap_kadmind_dn}}
    ldap_conns_per_server = 5
  }
