{
    "input":[
        {
            "type":"kafka_feeder",
            "rowtype":"service",
            "path":"{{default('/configurations/confluent-env/kafka_log_dir', '/var/log/confluent')}}/schema-registry/*.log"
        }
    ],
    "filter":[
        {
            "filter":"grok",
            "conditions":{
                "fields":{
                    "type":[
                        "kafka_feeder"
                    ]
                }
            },
            "log4j_format":"[%d] %p %m (%c:%L)%n",
            "multiline_pattern":"^(%{TIMESTAMP_ISO8601:logtime})",
            "message_pattern":"(?m)^%{TIMESTAMP_ISO8601:logtime}%{SPACE}%{LOGLEVEL:level}%{SPACE}%{JAVACLASS:logger_name}%{SPACE}\\(%{JAVAFILE:file}:%{JAVAMETHOD:method}\\(%{INT:line_number}\\)\\)%{SPACE}-%{SPACE}%{GREEDYDATA:log_message}",
            "post_map_values":{
                "logtime":{
                    "map_date":{
                        "date_pattern":"yyyy-MM-dd HH:mm:ss,SSS"
                    }

                }

            }
        }
    ]
}