
Client {
com.sun.security.auth.module.Krb5LoginModule required
useKeyTab=true
storeKey=true
useTicketCache=false
keyTab="{{regionserver_keytab_path}}"
principal="{{regionserver_jaas_princ}}";
};
com.sun.security.jgss.krb5.initiate {
com.sun.security.auth.module.Krb5LoginModule required
renewTGT=false
doNotPrompt=true
useKeyTab=true
storeKey=true
useTicketCache=false
keyTab="{{regionserver_keytab_path}}"
principal="{{regionserver_jaas_princ}}";
};
