
[default]
debug_level = INFO
hostname = {{hostname}}
metrics_servers = {{ams_collector_hosts}}
enable_time_threshold = false
enable_value_threshold = false
skip_disk_patterns = {{skip_disk_metrics_patterns}}
skip_virtual_interfaces = {{skip_virtual_interfaces}}
skip_network_interfaces_patterns = {{skip_network_interfaces_patterns}}
instanceId={{cluster_name}}
set.instanceId={{set_instanceId}}

[emitter]
send_interval = {{metrics_report_interval}}
kinit_cmd = {{monitor_kinit_cmd}}
klist_cmd = {{klist_cmd}}

[collector]
collector_sleep_interval = 10
max_queue_size = 5000
failover_strategy = {{failover_strategy}}
failover_strategy_blacklisted_interval_seconds = {{failover_strategy_blacklisted_interval_seconds}}
port = {{metric_collector_port}}
https_enabled = {{metric_collector_https_enabled}}

[aggregation]
host_in_memory_aggregation = {{host_in_memory_aggregation}}
host_in_memory_aggregation_port = {{host_in_memory_aggregation_port}}
{% if is_aggregation_https_enabled %}
host_in_memory_aggregation_protocol = {{host_in_memory_aggregation_protocol}}
{% endif %}
java_home = {{java64_home}}
jvm_arguments = {{host_in_memory_aggregation_jvm_arguments}}
ams_monitor_log_dir = {{ams_monitor_log_dir}}